@media all {

    header, main, section, nav, footer, aside, article, div, hr, .image  {display: block; box-sizing: border-box;}
    body {font: 400 16px/1.3 'Noto Sans JP',  sans-serif; color: #000; margin: 0; padding: 0;}
    h2 {font: 300 35px/1 'Averia Serif Libre', cursive;}
    a {text-decoration: none;}
    abbr {text-decoration: none;}
    .logo {font-family: 'Economica', sans-serif; font-variant: small-caps; line-height: 35px; display: flex; flex-direction: column; align-items: center; margin: 0;}

}


@media screen {

    header, hr, .image {width: 100%;}
    nav ul {list-style: none; padding: 0;}
    nav a {color: #000;}
    .container {width: 1040px; margin: 0 auto;}
    .logoFirstWord {font-weight: 700; font-size: 48px;}
    .logoSecondWord {font-weight: 400; font-size: 38px;}
    .line {border-top: 7px solid #FC0; margin-top: 40px;}
    .virtualTour h2, .farmshares h2, .farmFresh p, .farmshares p, .companyInfo p {text-align: center;}

    /* Common layouts */
    header nav ul, .farmFresh {display: flex; justify-content: center;}
    .virtualTour, .farmFresh div, .saturdayMarket .rowTwo div {display: flex; flex-direction: column; align-items: center;}
    .saturdayMarket>div, .eventSpaces .row, footer .container {display: flex; justify-content: space-between;}

    /* Masthead section */
    header {background: url("../layout1-assets/barn-background.webp") no-repeat 50% 35% / cover ; height: 583px;}
    header .logoFirstWord {margin-top: 16px;}
    header .logoSecondWord {margin-top: 4px;}
    header nav ul {margin-top: 23px;}
    header nav ul li {margin: 0 15px;}
    header nav a {font: 700 16px/1 'Averia Serif Libre';}
    header nav a:hover, nav a:focus {color: #980404;}

    /* Virtual tour section*/
    .virtualTour {margin-top: 98px; margin-bottom: 114px; color: #980404;}
    .virtualTour h2 {color: #980404; margin-bottom: 49px;}
    .virtualTour a {padding: 15px 30px; border: 1px solid #980404; color: #980404; font-size: 14px; text-transform: uppercase;}
    .virtualTour a:hover, .virtualTour a:focus {background-color: #980404; color: #fff;}

    /* Farm fresh section */
    .farmFresh div {width: 50%;}
    .farmFresh p {line-height: 1.8; padding: 0 80px;}
    .farmFresh h2 {margin: 40px 0 4px;}
    #chickenPhoto {background: url("../layout1-assets/chicken.webp") no-repeat center / cover;}
    #squashPhoto {background: url("../layout1-assets/squash.webp") no-repeat center / cover;}
    #chickenPhoto, #squashPhoto {height: 400px;}

    /* Saturday market */
    .saturdayMarket {margin-top: 60px;}
    .saturdayMarket p {text-transform: uppercase;}
    .saturdayMarket p, .saturdayMarket h2 {margin: 0;}
    .saturdayMarket .rowOne div {width: 48%;}
    .saturdayMarket .rowOne h2 {line-height: 1.3; margin-bottom: 30px;}
    .saturdayMarket .rowTwo {margin-top: 40px;}
    .saturdayMarket .rowTwo div {width: 31%;}
    .saturdayMarket .rowTwo div p {margin-top: 21px;}
    #beansPhoto {background: url("../layout1-assets/beans.webp") no-repeat center / cover; height: 314px;}
    #guitarPhoto {background: url("../layout1-assets/guitar.webp") no-repeat center / cover;}
    #facePaintingPhoto {background: url("../layout1-assets/face-painting.webp") no-repeat center / cover;}
    #cauliflowerPhoto {background: url("../layout1-assets/cauliflower.webp") no-repeat center / cover;}
    #guitarPhoto, #facePaintingPhoto, #cauliflowerPhoto {height: 250px;}

    /* Farmshares */
    #farmsharesPhoto {background: url("../layout1-assets/vegetables.webp") no-repeat center / cover; height: 409px; margin-top: 59px;}
    .farmshares h2 {background-color: #530001; padding: 60px 0; margin: 0; text-transform: uppercase;}
    .farmshares h2 a {color: #fff; font-size: 40px;}
    .farmshares p {margin: 60px auto 40px; width: 80%; font: 300 30px/1.3 'Averia Serif Libre',cursive;}
    .farmshares form {width: 50%; margin: 41px auto 0; position: relative; left: 0; top: 0;}
    .farmshares input {width: 100%; border: 0; padding: 10px 5px; font-size: 12.5px; letter-spacing: 0.2px; border-bottom: 1px solid #363636;}
    .farmshares button {position: absolute; width: 60px; height: 20px; background: transparent url("../layout1-assets/sprite.webp") 33px 0px / cover; border: 0; top: 5px; right: 1px; cursor: pointer;}

    /* Event spaces */
    .eventSpaces {color: #fff; background-color: #228500; padding: 31px 0 60px; margin-top: 60px;}
    .eventSpaces .row {margin-top: -5px;} 
    .eventSpaces .row div {width: 30%;}
    .eventSpaces h3 {font-size: 16px; text-transform: uppercase;}
    .eventSpaces p {line-height: 1.6; font-weight: 300; margin-top: 17px;}

    /* Footer */
    footer {margin-top: 59px;}
    footer .container>div {width: 32%;}
    footer nav li {margin-bottom: 1em;}
    footer nav a {text-transform: uppercase;}
    footer nav a:hover, footer nav a:focus {color: #980404;}
    .companyInfo .logo {margin-top: 14px;}
    .companyInfo .logoSecondWord {margin-top: 4px;}
    .companyInfo .street {margin-top: 40px;}
    .companyInfo .zone {margin-top: 16px;}
    .socialMedia {display: flex; justify-content: flex-end;}
    .socialMedia a {width: 40px; height: 45px; margin-top: 15px;}
    .socialMedia a:nth-child(n + 1) {margin-left: 19px;}
    #instagramIcon {background: url("../layout1-assets/sprite.webp") no-repeat -6px -115px;}
    #twitterIcon {background: url("../layout1-assets/sprite.webp") no-repeat -6px -250px;}
    #facebookIcon {background: url("../layout1-assets/sprite.webp") no-repeat -6px -398px;}

}


/* For internet explorer 11 compatability */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    header {background-image: url("../layout1-assets/barn-background.jpg");}
    #chickenPhoto {background-image: url("../layout1-assets/chicken.jpg");}
    #squashPhoto {background-image: url("../layout1-assets/squash.jpg");}
    #beansPhoto {background-image: url("../layout1-assets/beans.jpg");}
    #guitarPhoto {background-image: url("../layout1-assets/guitar.jpg");}
    #facePaintingPhoto {background-image: url("../layout1-assets/face-painting.jpg");}
    #cauliflowerPhoto {background-image: url("../layout1-assets/cauliflower.jpg");}
    #farmsharesPhoto {background-image: url("../layout1-assets/vegetables.jpg");}
    .farmshares button {background-image: url("../layout1-assets/sprite.png");}
    #instagramIcon {background-image: url("../layout1-assets/sprite.png");}
    #twitterIcon {background-image: url("../layout1-assets/sprite.png");}
    #facebookIcon {background-image: url("../layout1-assets/sprite.png");}

    /* Prevents horizontal scrollbar from appearing at breakpoints */
    .virtualTour h2 {width: inherit;}
    .farmFresh p {width: 100%; box-sizing: border-box;}

}


@media screen and (max-width: 1060px) {

    /* Common changes */
    .container, .eggs, .vegetables {width: 100%;}
    .virtualTour, footer {padding: 0 30px;}
    .eventSpaces, .saturdayMarket {padding-left: 33px; padding-right: 33px;}
    
    /* Farm fresh section */
    .eggs p, .vegetables p {padding: 0 84px;}

    /* Saturday market */
    .saturdayMarket {margin-top: 61px;}
    .saturdayMarket .columnTwoContent {margin: 0 33px;}

    /* Event spaces */
    .eventSpaces .columnTwoContent {margin: 0 50px;}
    .eventSpaces .row {margin-top: -7px;}

    /* Footer */
    footer ul {padding-left: 5px;}
    .companyInfo {margin: 3px 0 0 3px;}

}    


@media screen and (max-width: 800px) {

    .line {margin-top: 60px;}
    
    /* Virtual tour section*/
    .virtualTour {margin-top: 79px; margin-bottom: 97px;}

    /* Farm fresh section */
    .farmFresh {flex-direction: column; margin-top: 0px;}
    .farmFresh div {width: 100%;}
    .farmFresh p {padding: 0 30px;}
    .vegetables {margin-top: 60px;}

    /* Saturday market */
    .saturdayMarket {margin-top: 59px;}
    .saturdayMarket .columnTwoContent {margin: 0 25px;}

    /* Event spaces */
    .eventSpaces .row {flex-wrap: wrap; justify-content: space-between;}
    .eventSpaces .row div {width: 45%;}
    .eventSpaces .columnTwoContent {margin: 0;}
    .eventSpaces .columnThreeContent {margin-top: 22px;}
    
    /* Footer */
    footer {margin-top: 60px;}
    footer ul {padding-left: 2px;}

}


@media screen and (max-width: 700px) {

    /* Virtual tour */
    .virtualTour {padding: 0 10px;}

    /* Footer */
    footer .container {flex-wrap: wrap; justify-content: space-between;} 
    footer .container>div {width: 48%;}
    .companyInfo .street {margin-top: 37px;}
    .socialMedia {justify-content: flex-start; margin: 2px 0 0 -4px;}
    
}


@media screen and (max-width: 600px) {

    /* Common changes */
    .saturdayMarket, .eventSpaces, .farmshares p {padding-left: 28px; padding-right: 28px;}
    .farmshares p, .eventSpaces .row div {width: 100%;}

    /* Masthead section*/
    header nav ul {flex-wrap: wrap; margin-top: 34px; text-align: center;}
    header nav ul li:nth-child(n + 3) {margin-top: 20px;}
    header nav ul li {width: 50%; margin: 0;}
    
    /* Virtual tour */
    .virtualTour a {margin-top: 1px;}

    /* Saturday market */
    .saturdayMarket .rowTwo {flex-wrap: wrap; justify-content: space-between;}
    .saturdayMarket .rowTwo div {width: 48%;}
    .saturdayMarket .columnTwoContent {margin: 0;}
    .saturdayMarket .columnThreeContent {margin-top: 40px;}

    /* Farmshares */
    #farmsharesPhoto {margin-top: 78px;}
    .farmshares form {width: 80%; margin-top: 40px;}
    .farmshares p {box-sizing: border-box;}

    /* Event spaces */
    .eventSpaces {margin-top: 59px;}
    .eventSpaces .row {display: block;}
    .eventSpaces .row div:first-child {margin-top: 48px;}
    .eventSpaces .row div:nth-child(n + 2) {margin-top: 55px;}

    /* Footer */
    footer {margin-top: 58px; padding: 0 28px;}
    footer ul {padding: 0;}

}


@media screen and (max-width: 500px) {

    /* Common changes */
    .saturdayMarket .rowOne div, .saturdayMarket .rowTwo>div, footer div:nth-child(n) {width: 100%;}

    /* Masthead */
    header nav ul {margin-top: 30px;}
    header nav ul li:nth-child(n + 3) {margin-top: 22px;}

    /* Virtual tour */
    .virtualTour {margin-top: 60px; margin-bottom: 79px; padding: 0 30px;}

    /* Saturday market */
    .saturdayMarket {padding: 0 30px;}
    .saturdayMarket>div {flex-direction: column;}
    .saturdayMarket .rowTwo div:nth-child(n + 2) {margin-top: 40px;}
    .saturdayMarket .rowTwo div p {margin-top: 20px;}
    #beansPhoto {margin-top: 57px;}

    /* Farmshares */
    .farmshares form {width: 80%; margin-top: 43px;}

    /* Event spaces */
    .eventSpaces {padding-left: 29px;}
 
    /* Footer */
    footer .companyInfo {margin-top: 44px;}
    footer ul li {text-align: center;}
    .socialMedia {justify-content: center; margin-top: 40px;}

}


@media print {

    body {font-size: 12pt;}
    a {color: #000; text-decoration: underline;}
    h2 {font-size: 18pt;}
    h3 {font-size: 15pt;}

    /* Common changes */
    header nav ul, hr, .farmshares input, .farmshares button, footer nav, footer .logo {display: none;}

    /* Masthead */ 
    header {margin-bottom: 30pt;}
    .logoFirstWord {font-size: 36pt;}
    .logoSecondWord {font-size: 28pt; font-weight: 400;}

    /* Saturday market */
    .saturdayMarket .rowOne p:nth-child(n + 2), .columnTwoContent p, .columnThreeContent p {margin: 0;}
    .columnOneContent p {margin-bottom: 0;}

    /* Footer */
    footer {margin-top: 50pt;}

}